replicaCount: 3

image:
  repository: allanrodriguest/lr-infra
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  hosts:
    - host: posts.local
      paths: ["/"]
